

.item-icon {
    float:left;
    width:40px;
    text-align: center;
}

.item-icon > i {
    font-size: 18pt;
}

div.active {
    color:#009efe;
}

.item-icon > i:hover {
    color:#43a047;
    cursor: pointer;
}

.canvas_list > div {
    float:left;
}


/*Rooms list*/
.shutters-list > li {clear:both;}
.shutters-list > li > div {float:right;}
.shutters-list > li > div:first-child {float:left;}

.buttons-row {
    width: 100%;
    margin-top: 30px;
    padding-right:30px;
    text-align: right;
}

/*BOOTSTRAP REWRITE*/
.btn-small {
    padding: 5px;

}
.brclear {
    margin:0;
    padding:0;
    width:0;
    height:0;
    font-size: 0;
    clear:both;
}
.nomargin {
    margin:0;
}
.nopadding {
    padding:0;
}