body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

main {
    flex: 1 0 auto;
}


nav.top-nav, .logo ,nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i{
    height: 250px;
    line-height: 250px;
}

.xlarge{
    width: 100%;
    min-height: 50%;
    margin-top: -100px;
}

.logo-title {
    padding: 50px;
    border-radius: 0 0 2px 2px;
    background-clip: padding-box;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}