<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <!-- Login -->
    <servlet>
        <servlet-name>IndexController</servlet-name>
        <servlet-class>
            it.unimore.awd.controllers.IndexController
        </servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IndexController</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

    <!-- Homes -->
    <servlet>
        <servlet-name>HomesController</servlet-name>
        <servlet-class>
            it.unimore.awd.controllers.HomesController
        </servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomesController</servlet-name>
        <url-pattern>/homes/*</url-pattern>
    </servlet-mapping>

    <!-- Floors -->
    <servlet>
        <servlet-name>FloorsController</servlet-name>
        <servlet-class>
            it.unimore.awd.controllers.FloorsController
        </servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FloorsController</servlet-name>
        <url-pattern>/floors/*</url-pattern>
    </servlet-mapping>

    <!-- FloorManager -->
    <servlet>
        <servlet-name>FloorManagerController</servlet-name>
        <servlet-class>
            it.unimore.awd.controllers.FloorManagerController
        </servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FloorManagerController</servlet-name>
        <url-pattern>/floor/*</url-pattern>
    </servlet-mapping>

    <!-- Rules -->
    <servlet>
        <servlet-name>RulesController</servlet-name>
        <servlet-class>
            it.unimore.awd.controllers.RulesController
        </servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RulesController</servlet-name>
        <url-pattern>/rules/*</url-pattern>
    </servlet-mapping>

    <!-- TODO: update security constraints
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>home</web-resource-name>
            <url-pattern>/homes/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>*</role-name>
        </auth-constraint>
    </security-constraint>-->

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.htm</welcome-file>
        <welcome-file>default.jsp</welcome-file>
    </welcome-file-list>
</web-app>
